.container{
    width:100%;
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:50px 8%;
}
.img{
    display: grid;
    grid-auto-flow: column;
}
.h1{
text-size-adjust: 3vw;
}